
html {
    scroll-behavior: smooth;
    
  }

body{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
    align-items: center;
    justify-content: center;
    align-items: center;
    
    
    
}

#navbar{
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.navbar, .container-fluid{
    display: flex;
    justify-content: space-evenly;
}








.card{
    margin-top: 20%;
    
}



.cap {
    visibility: none;
    opacity: 0;
    position: absolute;
    
    

    
}
.wrap:hover .cap{
    visibility:visible;
    opacity: 2;
    
    

}


.wrap:hover{
   
    display: flex;
    justify-content: center;
    opacity: 0.5;
    
}
.card-img-top{
    opacity: 2;
    display: block;
    
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
h1{
    
   color: white;
  -webkit-background-clip:text;
  
}

h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
display: flex;
justify-content: center;

}


p{
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.table-head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

td{
    font-size: 20px;
    font-family: serif;
}

.tableone{
    
    background-color: lightcyan;
    border-radius: 20px
}






@media screen and (max-width: 950px)  {

  
    .container-fluid{
       display: flex;
       flex-direction: row-reverse;
    }

      
}

    @media (max-width: 770px) {
        .navbar-nav{
            display: flex;
            flex-direction: row;
        }
    }
    
    
    }






    @media screen and (max-width: 800px) {
        
    }