.firstcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    
}


.container-fluid{
    display: flex;
    justify-content: end;
   
   
}

h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
display: flex;
justify-content: center;

}


p{
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.table-head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

td{
    font-size: 20px;
    font-family: serif;
}