
html {
    scroll-behavior: smooth;
    
  }

body{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
    align-items: center;
    justify-content: center;
    align-items: center;
    
      
    
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}



.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(153, 145, 145);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #5d6a9e;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}




#sidebar .sidebar-header {
    padding: 30px;
    background: #ffffff;
    border-radius: 20%;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}







#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}








.card{
    margin-top: 20%;
    display: flex;
    flex-direction: column;

}



.cap {
    visibility: none;
    opacity: 0;
    position: absolute;
    
    

    
}
.wrap:hover .cap{
    visibility:visible;
    opacity: 2;
    
    

}


.wrap:hover{
   
    display: flex;
    justify-content: center;
    opacity: 0.5;
    
}
.card-img-top{
    opacity: 2;
    display: block;
    
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
h1{
    
   color: white;
  -webkit-background-clip:text;
  
}

h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
display: flex;
justify-content: center;

}


p{
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.table-head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

td{
    font-size: 20px;
    font-family: serif;
}

.tableone{
    
    background-color: lightcyan;
    display: flex;
}






    @media (max-width: 1200px) {
        #sidebar {
            
        }

        .sidebar-header{
            display:none;
        }



        #sidebar.active {
            margin-left: 0;
        }


       
       .recipe{
           
           margin-left: 30%;

           

       }

       

    }

    @media (max-width: 850px) {
        #sidebar{
           margin-left: -250px;
        }

       .recipe{ 
           margin-left:30%;}
    }

  
        
